.sidebar {
  width: 80px;
  background: #111;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.nav-item {
  color: #aaa;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.nav-item.active,
.nav-item:hover {
  color: #fff;
}

.sidebar-footer {
  margin-top: auto;
  padding-bottom: 20px;
}
