body{
    background-color: #353535;
    margin: 0;
    font-family:  'Lucida Sans', Arial, sans-serif;

}

.feather {
  stroke: #ccc;
  font-size: 18px;
}


.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 0;
    margin: 0;
}

/*Nav*/
.Nav{
    background-color: #222;
    width: 5%;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.brand{
    background-color: #444444;
    border-radius: 2% 10px;
    color: #fff;
}
.Nav nav {
   padding-top: 20px;
   align-items: center;
}
.dashNav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
/* SideNav */
.sideNav{
    background-color: #fff;
    width: 25%;

}


/* Dash Section */
.dashSection{
    background-color: #dddddd;
    width: 70%;
}


/*MOBILE STYLES*/
@media only screen and (max-width:1000px) {
    .container{
        flex-direction: column;
    }
    .Nav, .sideNav, .dashNav{
        width: 100% !important;
        height: auto !important;
    }
    
}